.app {
  text-align: center;
  height: 100%;
  padding: 16px;
  background-color: #282c34;
  width: 100%;
  min-width: 1000;
}

.app-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  position: fixed;
  align-items: center;
  top: 16;
  color: white;
}

.app-logo {
  height: 32px;
  width: 32px;
  pointer-events: none;
}
